<html>
  <head>
    <meta charset="utf-8">
    <title>lazyload</title>
    <script type="text/javascript" charset="utf-8" src="../bower_components/angular/angular.js">
    </script>
    <script type="text/javascript" charset="utf-8" src="lazyload.js">
    </script>
    <link rel="stylesheet"  href="../bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet"  href="lazyload.css">
  </head>
  <body  onload="" ng-app="demo" ng-controller="demoCtro" class="row text-center">
    <h1 id="" class="text-center" style="margin: 100px;">
      {{title}}
    </h1>
    <button class="btn btn-success" style="margin-bottom: 15px;" ng-click="vm.open()">开启测试</button>
   <div class="content">
      <input ng-model="vm.oldVal" ng-if="vm.start">
      <input ng-model="newVal" ng-if="vm.oldVal">
   </div>
   <div class="content">
      <input ng-model="vm.oldVal" ng-if="vm.start">
      <input ng-model="newVal" ng-if="vm.oldVal">
   </div>
   <div class="content">
      <input ng-model="vm.oldVal" ng-show="vm.start">
      <input ng-model="newVal" ng-show="vm.oldVal">
   </div>
  </body>
</html>
<script type="text/javascript" charset="utf-8">

  var app = angular.module('demo' , ['lazyload']);
  app.controller('demoCtro' , function($scope){

      $scope.title = 'ng-if && ng-show';
      var  vm = $scope.vm = {};

      vm.open = function(){
        vm.start = true;
      }

  })
</script>
